workerPoolSpecs:
  machineSpec:
    machineType: n1-standard-8
    acceleratorType: NVIDIA_TESLA_T4
    acceleratorCount: 1
  replicaCount: 1
  containerSpec:
    imageUri: gcr.io/airotech-442120/rohingya-translator:latest
    args:
      - --config=configs/model_config.yaml
      - --output_dir=gs://airotechbkt/models/
      - --data_dir=gs://airotechbkt/data/

scheduling:
  timeout: 86400s  # 24 hours

serviceAccount: airotech-442120-compute@developer.gserviceaccount.com
