workerPoolSpecs:
  machineSpec:
    machineType: n1-standard-8
    acceleratorType: NVIDIA_TESLA_T4
    acceleratorCount: 1
  replicaCount: 1
  containerSpec:
    imageUri: gcr.io/[PROJECT_ID]/rohingya-translator:latest
    args:
      - --config=configs/model_config.yaml
      - --output_dir=gs://[BUCKET_NAME]/models/
      - --data_dir=gs://[BUCKET_NAME]/data/

scheduling:
  timeout: 86400s  # 24 hours

serviceAccount: [SERVICE_ACCOUNT_EMAIL]
