workerPoolSpecs:
  - machine_spec:
      machine_type: n1-standard-8
      accelerator_type: NVIDIA_TESLA_T4
      accelerator_count: 1
    replica_count: 1
    container_spec:
      image_uri: gcr.io/airotech-442120/rohingya-translator:v3-t4-opt
      command: ["python", "-m", "src.train"]
      args: []
      env:
        - name: PYTORCH_CUDA_ALLOC_CONF
          value: "max_split_size_mb:128"
        - name: TORCH_CUDA_ARCH_LIST
          value: "7.5"  # T4 architecture
        - name: CONFIG_PATH
          value: "gs://rohingya-translator-vertex/configs/model_config.yaml"
        - name: OUTPUT_DIR
          value: "gs://rohingya-translator-vertex/models/"
        - name: DATA_DIR
          value: "gs://rohingya-translator-vertex/data/"
        - name: MODEL_REGISTRY_PATH
          value: "gs://rohingya-translator-vertex/model-registry/"
        - name: SAVE_LOCAL
          value: "true"
        - name: LOCAL_MODEL_DIR
          value: "/app/models"
        - name: AIP_ENABLE_SSH
          value: "true"

scheduling:
  timeout: 86400  # 24 hours

serviceAccount: 596516478493-compute@developer.gserviceaccount.com
