workerPoolSpecs:
  machineSpec:
    machineType: e2-standard-4  # Changed to a smaller, more commonly available machine type
  replicaCount: 1
  containerSpec:
    imageUri: gcr.io/airotech-442120/rohingya-translator:latest
    args:
      - --config=gs://airotechbkt/configs/model_config.yaml
      - --output_dir=gs://airotechbkt/models/
      - --data_dir=gs://airotechbkt/data/

scheduling:
  timeout: 86400s  # 24 hours

serviceAccount: 596516478493-compute@developer.gserviceaccount.com

# Set the region to us-west1
location: us-west1
